*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#d2cccc;
}

/*      INDEX.EJS STYLING        */

.navbar{
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 0.5rem;
    background-color: #EEEEEE;
    position:fixed;
    width: 100vw;
}
.navbar h2{
    text-decoration: underline;
    margin-left: 28rem; 
    font-family: "Open Sans", sans-serif; 
    font-style: italic;
}
.logo h1{
    font-family: "Open Sans", sans-serif;
    margin-left: 1rem;
    font-size: 2.5rem;
    background: linear-gradient(to right, red, blue);
    color: transparent;
    background-clip: text;
    text-shadow: 0 0 60px rgba(255, 0, 0, 0.457);
    animation: loglow 1s infinite alternate;
}
@keyframes loglow{
    100%{
        text-shadow: 0 0 50px rgba(21, 0, 255, 0.457);
    }
}

.chat {
    min-height: 5rem;
    max-height: fit-content;
    width: 22rem;
    margin: 1rem ;
    margin-left: 5rem;
    border: 2px solid black;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  12px 12px 30px #bebebe,-12px -12px 30px #ffffff;
    display: inline-block;
    font-family: "Kalam", cursive;  

}

.sere{
    display: flex;
    gap: 1rem;
    padding: 2px 0;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid black;
    background-color:rgb(90, 239, 189) ;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.sere p{
    margin-bottom: 0.25rem;
}
.msg {
    margin: 0.5rem;
}

.chtroom{
    display: flex;
}
.newcht{
    margin-left: 30rem ;
    position: fixed;
    bottom: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Kalam", cursive;
}

.date{
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.delete button{
    right: 0;
    padding: 0.15rem;
    margin-bottom: 0.25rem;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Kalam", cursive;
}


/*      NEW.EJS STYLING        */
.n{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.newbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 15rem;
    font-family: "Kalam", cursive;
    width: 30rem;
    margin-top: 12% ;
    border: 2px solid black;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  12px 12px 30px #bebebe,-12px -12px 30px #ffffff;
    display: inline-block;  

}
.newfrm{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
    margin: 1rem 0;
}
input{
    padding: 5px;
    font-size: 1rem;
    font-family: "Kalam", cursive;
}
textarea{
    font-size: 1rem;
    padding: 5px;
    min-height: 7rem;
    max-height: fit-content;
    width: 80%;
    font-family: "Kalam", cursive;
}
.newfrm button{
    font-family: "Kalam", cursive;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 600;
}

/*      RESPONSIVE STYLING        */
@media only screen and (max-width: 800px) {
    .navbar{
        padding: 0.5rem;
        width: 100%;
        gap: 2.3rem;
        height: 2.8rem;
    }
    
    .navbar h2{
        margin-left: 0; 
        font-size: 1rem;
    }

    .logo h1{
        font-family: "Open Sans", sans-serif;
        margin-left: 0.2rem;
        font-size: 1.2rem;
        background: linear-gradient(to right, red, blue);
        color: transparent;
        background-clip: text;
        text-shadow: 0 0 40px rgba(255, 0, 0, 0.457);
        animation: loglow 1s infinite alternate;
    }
    @keyframes loglow{
        100%{
            text-shadow: 0 0 30px rgba(21, 0, 255, 0.457);
        }
    }
    

    .chat {
        width: 18rem;
        margin: 1rem ;
    }
    .newcht{
        margin-left: 86vw ;
        position: fixed;
        bottom: 1.7rem;
        padding: 0 0.7rem;
        border-radius: 10px;
        font-size: 0.6rem;
        font-weight: 600;
    }
    .msg {
        font-size: 1.1rem;
    }

    /* new chat box */
    .newbox{
        display: inline-block;
        min-height: 15rem;
        width: 21rem;
        margin-top: 62%;
        border-radius: 10px;
    }
    input{
        padding: 5px;
        width: 8rem;
    }
    textarea{
        padding: 4px;
        min-height: 7rem;
        max-height: fit-content;
        width: 84%;
    }

  }